services:
  influxdb:
    image: influxdb:latest
    ports:
      - "8086:8086"
    volumes:
      - influxdb-data:/var/lib/influxdb2

  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    depends_on:
      - influxdb

volumes:
  influxdb-data:
